<!-- poloturisticos/templates/poloturisticos/crear_polo_turistico.html -->
{% extends 'base.html' %}

{% load static %} 

{% block title %}Crear Polo Turístico{% endblock %}

{% block content %}

<!-- Incluir el archivo de estilos CSS -->
<link rel="stylesheet" href="{% static 'backoffice/css/formularios_crear.css' %}">

<div class="form-container">
    <h1 class="form-title">Crear Polo Turístico</h1>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
                <div class="invalid-feedback">
                    Por favor, proporciona el nombre del polo turístico.
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="pais" class="form-label">País</label>
                <input type="text" class="form-control" id="pais" name="pais" required>
                <div class="invalid-feedback">
                    Por favor, proporciona el país del polo turístico.
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-submit">Guardar</button>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>
{% endblock %}
