{% extends 'base.html' %}

{% load static %}

{% block title %}Crear Transportista{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'backoffice/css/formularios_crear.css' %}">

<div class="form-container">
    <h1 class="form-title">Crear Transportista</h1>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre del Transportista</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
            <div class="invalid-feedback">
                Por favor, proporciona el nombre del transportista.
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-submit">Guardar</button>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>
{% endblock %}
