{% extends 'base.html' %}

{% load static %} 

{% block title %}Editar Rentadora{% endblock %}

{% block content %}

<!-- Incluir el archivo de estilos CSS -->
<link rel="stylesheet" href="{% static 'backoffice/css/formularios_crear.css' %}">

<div class="form-container">
    <h1 class="form-title">Editar Rentadora</h1>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre de la Rentadora</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ rentadora.nombre }}" required>
            <div class="invalid-feedback">
                Por favor, proporciona el nombre de la rentadora.
            </div>
        </div>
        <div class="form-group">
            <label for="proveedor" class="form-label">Proveedor</label>
            <select class="form-control" id="proveedor" name="proveedor" required>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}" {% if rentadora.proveedor.id == proveedor.id %}selected{% endif %}>{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Por favor, selecciona un proveedor.
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-submit">Guardar Cambios</button>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>
{% endblock %}
